/* =================General style============================== */

body{
  font-size: 1.2rem;
  color: #333;
  font-family: 'Lato', sans-serif;
  background-color: #fff;

}

h2{
  margin-bottom: 3%;
}

.section{
  padding: 100px 0;
}

.portfolio-content{
  position: relative;
  width: 100%;
}

/* ===============================Loader style============================ */

.loader{
  width: 100%;
  height: 100%;
  background-color: #353b48;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
}

.loader .inner-loader{
  width: 100%;
  height: 100%;
  background: url(../images/loader.gif) center center no-repeat;
}

/* ==========================Slider style================================ */

.overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgba(0,0,0,0.4)
}

 .slides-navigation {
  z-index: 6;
}

.slides-navigation .prev,
.slides-navigation .next{
  width: 47px;
  height: 47px;
  background-size: cover;
  background-repeat: no-repeat;
}

.slides-navigation a.prev{
  left: 1%;
  background-image: url(../images/icons/backwhite.png);

}
.slides-navigation a.next{
  right: 1%;
  background-image: url(../images/icons/nextwhite.png);

}

.title-message{
  position: absolute;
  width: 100%;
  height: 250px;
  top: 50%;
  z-index: 5;
  text-align: center;
  margin-top: -125px;
}

.title-message .heading {
  color: #fff;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  letter-spacing: 0.3rem;
}

.title-message .heading .main{
  font-size: 3.5rem;
  font-family: 'Ubuntu', sans-serif;
}

.title-message .heading .sub{
  color: #ff4757;
  font-size: 1.7rem;
  font-family: 'Ubuntu', sans-serif;
}

/* =============================Menu====================================== */

.menu-div{
  position: absolute;
  left: 0;
  top:0;
  height: 100%;
  width: 100%;
  pointer-events:none;
}

.menu-container{
  padding: 0;
  margin: 0;

}

#navigation{
  text-align: center;
}

.div-button{

  text-align: right;
   width: 100%;
   background-color: #353b48;
}

.navbar-toggler-button{
  background-color: #00cec9;
  border-radius: 20%;
  margin: 1%;
  pointer-events: auto;
}

.navbar-toggler-icon{
  background-image: url("../images/icons/menu.png");
}

#navigation .menu-list{
  box-shadow: 1px 1px 8px 0 #353b48;
  padding: 0 ;
  background-color: #353b48;
  pointer-events: auto;
}

@media (min-width: 992px) {
  .menu-list-margin{
  margin: 35px 20px 0 0;
  border: 0.2px solid transparent;
  border-radius: 4px;
  }
}

#navigation li{
  padding: 20px 10px;
}

#navigation li a{
  color: #fff;
  padding: 0;
}

.nav-current-section {
  background: #00cec9;
  border: 1px solid #00cec9;
}

/* ================================About Section=========================== */

.about-container{
  padding: 0 17%;
  text-align: center;
}

.about-container p{
  text-align: left;
}

.about-img{
  padding-bottom: 50px;
  width: 100%;
}

.about-quote{
  padding-top: 12px;
  display: block;
  float: left;

  margin: 0 10px 0 0;

}
@media (min-width: 992px) {
  .about-quote{
    width: 35%;
  }
}

.about-quote p{
  padding: 0 10px;
  font-size: 1.25rem;
  color: #ff4757;
  border-left: 2.5px solid;
  border-color: #ff4757;
}

/* =======================Features Style====================== */

.features-section {
  padding: 20px 16% 0;
}

.features-section p {
  font-size: 0.8rem;
}

.card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75px;
}

.feature-img {
  padding: 20px;
}

.feature-card {
  border: none;
  height: 100%;
}

.feature-col {
  padding: 3% 2%;
}

.download-cv{
  text-align: center;
  padding: 0 0 10px;
}

.cv-button{
  font-size: 1rem;
  color: #00cec9;
  padding: 3px 20px;
  display: inline-block;
  margin-top: 3%;
  border: 1px solid #00cec9;
  border-radius: 4px;
}

.cv-button:hover{
  color: #fff;
  background-color: #00cec9;
  text-decoration: none;
}

/* ===============================Skills section=========================== */

.skills-section,
.contact-section{
  background-color: #00cec9;
  color: #fff;
}

.skill{
  text-align: center;
  margin: 0 5px;
}

.chart{
  position: relative;
  width: 152px;
  height: 152px;
  display: inline-block;
  text-align: center;
}

.chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.chart .percent {
  color: #74000B;
  line-height: 152px;
  display: inline-block;
  font-size: 2.2rem;
}

.chart .percent:after {
  content: '%';
}

/* =========================Work Section================================== */

.work-heading{
  text-align: center;
}

.work-container{
  /* position: relative; */
  padding: 0 17%;
}

.work-container p{
  font-size: 1rem;
}

@media (min-width: 992px) {
.work-left{
  padding: 0 40px 0 0;
  /* position: relative; */
  /* width: 50%; */
  left: 0;
  border-right: 1.5px solid #ff4757;
  border-left: none;
  text-align: right;
}
}

@media (max-width: 991.9px) {
.work-left-small{
  padding: 0 0 0 40px;
  /* position: relative; */
  /* width: 50%; */
  left: -1.5px;
  /* bottom: -100%; */
  border-left: 1.5px solid #ff4757;
}
}

.work-right{
  padding: 0 0 0 40px;
  /* position: relative; */
  /* width: 50%; */
  left: -1.5px;
  /* bottom: -100%; */
  border-left: 1.5px solid #ff4757;
}
.work-card{
  border: none;
  padding-top: 0;
}

.work-card-body{
  padding-top: 0;
}

@media (min-width: 992px) {
 .left-year{
  left: calc(100% - 1.7rem);
  top: 0;
  z-index: 100;
}
}

@media (max-width: 991.9px) {
.left-year-small{
  left: -1.7rem;
  top: 0;
  z-index: 100;

}
}

.year{
  position: absolute;
  background-color: #00cec9;
  height: 24px;
}

.year p{
  padding: 0 10px;
  margin: 0
}

.right-year{
  left: -1.7rem;
  top: 0;
  z-index: 100;

}

.arrow{
  position: absolute;
  top: 0;
  width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
}

@media (min-width: 992px) {
.left-arrow{
  border-right: 12px solid #00cec9;
  left: -12px;
}
}

@media (max-width: 991.9px) {
.left-arrow-small{
  border-left: 12px solid #00cec9;
  left: 100%;
}
}

.right-arrow{
  border-left: 12px solid #00cec9;
  left: 100%;
}

/* ======================Contact Section======================================== */

.contact-button{
  color: #fff;
  padding: 7px 20px;
  display: inline-block;
  margin-top: 3%;
  border: 1px solid #fff;
  border-radius: 4px;
}

.contact-button:hover{
  color: #00cec9;
  background-color: #fff;
  text-decoration: none;
}

.available-notice {
  margin: 30px 0;
}

/* =========================copyright section========================== */

.copyright-section{
  background-color: #353b48;
  color: #fff;
  font-size: 0.9rem;
  padding: 100px 5px 50px;
}

.social-networks{
  text-align: center;
  color: #fff;
  margin: 0 0 60px;
}

.social-networks a{
  margin: 20px;
  font-size: 1.4rem;
  color: #fff;
}
